
  <ion-content >
   
 
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8"> 
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

     </head>
  
    <body>
    <div class="d-flex justify-content-start ml-3"><h3>Registro</h3></div>
  
   
      
      <div class="container-fluid ">
        <div class="row justify-content-center align-items-center" id="fondoLogin">
          <img src="../../assets/registro.svg" alt="" id="imagen">
        </div>
      
        <div class="row justify-content-center align-items-center h-100 mt-4" >
          <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <form #loginPost="ngForm" (ngSubmit)="onLogin(loginPost.value)" >
          
              <div class="form-group">
                <label class="sr-only" for="UsuarioRegistro">Usuario</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-user-tie"></i></div>
                  </div>
                  <input type="text" name="idAspirante" [(ngModel)]="Usuario" class="form-control" id="UsuarioRegistro" placeholder="Usuario">
                </div>
              </div>

              <div class="form-group">
                <label class="sr-only" for="Contra">contraseña</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-key"></i></div>
                  </div>
                  <input type="text" [(ngModel)]="password"   name="contrasena" class="form-control" id="Contra" placeholder="Contraseña">
                </div>
              </div>

            
            
  
  


        
       
             
 
  
             
                
                <button type="submit" class="btn  btn-block">Iniciar sesion</button>
            
                
      
            </form>
          </div>
        </div>
      </div>
  
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

 
 
  </ion-content>


