.bordes{
border: 2px dotted  rgb(192, 229, 241);;
border-radius: 14px;
background-color: rgb(237, 249, 253);
}

.titulo1{ 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 28px; 
    font-weight: bold;
     letter-spacing: -1px; 
     line-height: 1


}


.titulo2{
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 18px; 
    font-weight: bold;
     letter-spacing: -1px; 
     line-height: 1
}

.sub1{
    color: gainsboro;
}

.sub2{
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 13px; 
    font-weight: bold;
     letter-spacing: -1px; 
     line-height: 1
}


