#row1 {
  border: 2px solid #7817bc;
  }



    h1{ color: #7c795d; font-family: 'Trocchi', serif; font-size: 35px; font-weight: normal; line-height: 48px; margin: 0; }


 .font{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: -0.2px;
  word-spacing: 0.4px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
 }