<ion-header [translucent]="true">
  <img src="../../assets/empresa.jpg" alt="" id="imgFondo">
</ion-header>

<ion-content >

<div id="container-fluid" >
  <div class="ionic-center">
    <h1 style="text-align: center;" >APPJOB</h1><br><br>
  </div>
  <div class="row" style="margin-top: 20px;">
    <button onclick="location.href='./login'" expand="block" class="btn-grad" style="margin-right:20px ; margin-left: 20px;">LOGIN </button>
    <button expand="block" class="btn2-grad"  onclick="location.href='./registro'" style="margin-top: 10px; margin-left: 20px; margin-right: 20px;">REGISTRO </button>
  </div>
 
    
 </div>
</ion-content>
