img{
    margin-top: 30px;
    width: 120px;
}



#btn-grad {
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
    border-radius: 8px;
    color: white;
    width: 100%;
    padding: 8px 40px;
}

#btn-grad:hover { 
    background-position: right center; 
}